body{
  margin:0;
}
.navbar{
  background-color: #e71919;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav--logo_text{
  font-size: 2rem;
  color: white;
  padding-left: 2rem;
}
.journal-entry{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.main-img{
  width: 20rem;
  height: auto;
  border-radius: 1rem;
}
.entry-info{
  padding-left: 3rem;
}